In [ ]:
# criando dataframe
dataframe = spark.createDataFrame([('Jose', 20), ('maria', 19)])
dataframe.show()

In [ ]:
# Criando o Schema e inserindo dados
schema = "ID INT, nome STRING"
dados = [(20, 'Joao'), (19, 'Maria')]
df2 = spark.createDataFrame(dados, schema)
display(df2)

In [ ]:
# Somando e agrupando valores 
from pyspark.sql.functions import sum

schema =  "valor INT, nomeProduto STRING"
dados = [ (5, 'Caneta'), (1, 'Borracha'), (4, 'Caneta')  ]

df3 = spark.createDataFrame(dados, schema)

df_agrupado = df3.groupby('nomeProduto').agg(sum('valor'))
display(df_agrupado)

In [ ]:
#  Projetando apenas os dados que quero mostrar, assim como no SQL
df3.select(["nomeProduto", "valor"]).show()