In [ ]:
from pyspark.sql import SparkSession

# Crie uma sess√£o do Spark
spark = SparkSession.builder.appName("Comandos SQL em PySpark").getOrCreate()

# Crie um DataFrame com os dados
data = [("A1", 2000), ("A2", 3000), ("A3", 4000)]
df = spark.createDataFrame(data, ["rating", "valor"])

# Insira os dados na tabela
df.write.format("parquet").mode("overwrite").saveAsTable("minha_tabela")




# Execute uma consulta SQL
resultado = spark.sql("SELECT * FROM minha_tabela WHERE rating = 'A1'")
resultado.show()

# Exclua as linhas da tabela
spark.sql("DELETE FROM minha_tabela WHERE valor < 3000")


# Insira os dados na tabela no Athena
spark.sql("INSERT INTO athena_db.athena_table (rating, valor) VALUES ('A1', 2000), ('A2', 3000), ('A3', 4000)")


# Execute uma consulta SQL
resultado = spark.sql("SELECT * FROM minha_tabela")
resultado.show()