In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when
# from pyspark.sql.types import types

In [3]:
spark = SparkSession.builder.appName('TesteDataframe').getOrCreate()
df = spark.read.load('D:/donwloads/wc2018-players.csv', header=True, inferSchema=True, sep=',', format='csv')
df.show()

+---------+---+----+------------------+----------+----------+--------------------+------+------+
|     Team|  #|Pos.| FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
|Argentina|  3|  DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|    65|
|Argentina| 22|  MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|    65|
|Argentina| 15|  MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|    66|
|Argentina| 18|  DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|    69|
|Argentina| 10|  FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72|
|Argentina|  4|  DF|  ANSALDI Cristian|20.09.1986|   ANSALDI|     Torino FC (ITA)|   181|    73|
|Argentina|  5|  MF|      BIGLIA Lucas|30.01.1986|    BIGLIA|      AC Milan (ITA)|   175|    73|
|Argentina|  7|  MF|       BANEGA Ever|29.06.1988|    BANEGA|    Sevilla FC (ESP)|   175|    73|
|Argentina| 14|  DF| MASCHERANO Javier|08.06.1984|MASCHERANO|Hebei China Fortu...|   174|    73|
|Argentina| 21|  FW|      DYBALA Paulo|15.11.1993|    DYBALA|   Juventus FC (ITA)|   177|    73|
|Argentina| 19|  FW|     AGUERO Sergio|02.06.1988|    AGÜERO|Manchester City F...|   172|    74|
|Argentina|  9|  FW|   HIGUAIN Gonzalo|10.12.1987|   HIGUAÍN|   Juventus FC (ITA)|   184|    75|
|Argentina| 11|  MF|    DI MARIA Angel|14.02.1988|  DI MARÍA|Paris Saint-Germa...|   178|    75|
|Argentina| 20|  MF|  LO CELSO Giovani|09.04.1996|  LO CELSO|Paris Saint-Germa...|   177|    75|
|Argentina| 13|  MF|  MEZA Maximiliano|15.12.1992|      MEZA|CA Independiente ...|   180|    76|
|Argentina|  8|  DF|      ACUNA Marcos|28.10.1991|     ACUÑA|   Sporting CP (POR)|   172|    77|
|Argentina| 23|  GK|CABALLERO Wilfredo|28.09.1981| CABALLERO|    Chelsea FC (ENG)|   186|    80|
|Argentina|  2|  DF|   MERCADO Gabriel|18.03.1987|   MERCADO|    Sevilla FC (ESP)|   181|    81|
|Argentina| 17|  DF|  OTAMENDI Nicolas|12.02.1988|  OTAMENDI|Manchester City F...|   181|    81|
|Argentina| 16|  DF|       ROJO Marcos|20.03.1990|      ROJO|Manchester United...|   189|    82|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
only showing top 20 rows

### Pega todas as colunas do Dataframe, e coloca elas em uma posição visivel para eu alterar posteriormente

In [4]:
colunas = {
    col:col 
    for col in df.columns
}
display(colunas)

{'Team': 'Team',
 '#': '#',
 'Pos.': 'Pos.',
 'FIFA Popular Name': 'FIFA Popular Name',
 'Birth Date': 'Birth Date',
 'Shirt Name': 'Shirt Name',
 'Club': 'Club',
 'Height': 'Height',
 'Weight': 'Weight'}

### Trocando o nomes das colunas com dois metodos

In [5]:
# Primeiro método - Muito mais inteligente, copio e colo as colunas acima e depois só substituo uma vez
colunas = {
    'pos.': 'POSICAO',
    'FIFA Popular Name': 'NOME_FIFA',
    'Shirt Name': 'NOME_JOGADOR',
    'CLUB': 'CLUBE',
    'Birth Date': 'DT_NASCIMENTO',
    'Height': 'ALTURA_JOGADOR',
    'Weight': 'PESO',
    'Team': 'TIME',
    '#': 'ID_JOGADOR'
}

for nome_antigo, novo_nome in colunas.items():
    df = df.withColumnRenamed(nome_antigo, novo_nome)


# Segundo método - Feito Totalmente Manualmente. 
df = df.withColumnRenamed('pos.','POSICAO')
df = df.withColumnRenamed('FIFA Popular Name', 'NOME_FIFA')
df = df.withColumnRenamed('Shirt Name', 'NOME_JOGADOR')
df = df.withColumnRenamed('CLUB', 'CLUBE')
df = df.withColumnRenamed('Birth Date', 'DT_NASCIMENTO')
df = df.withColumnRenamed('Height', 'ALTURA_JOGADOR')
df = df.withColumnRenamed('Weight', 'PESO')
df = df.withColumnRenamed('Team', 'TIME')
df = df.withColumnRenamed('#', 'ID_JOGADOR')
df.show()

+---------+----------+-------+------------------+-------------+------------+--------------------+--------------+----+
|     TIME|ID_JOGADOR|POSICAO|         NOME_FIFA|DT_NASCIMENTO|NOME_JOGADOR|               CLUBE|ALTURA_JOGADOR|PESO|
+---------+----------+-------+------------------+-------------+------------+--------------------+--------------+----+
|Argentina|         3|     DF|TAGLIAFICO Nicolas|   31.08.1992|  TAGLIAFICO|      AFC Ajax (NED)|           169|  65|
|Argentina|        22|     MF|    PAVON Cristian|   21.01.1996|       PAVÓN|CA Boca Juniors (...|           169|  65|
|Argentina|        15|     MF|    LANZINI Manuel|   15.02.1993|     LANZINI|West Ham United F...|           167|  66|
|Argentina|        18|     DF|    SALVIO Eduardo|   13.07.1990|      SALVIO|    SL Benfica (POR)|           167|  69|
|Argentina|        10|     FW|      MESSI Lionel|   24.06.1987|       MESSI|  FC Barcelona (ESP)|           170|  72|
|Argentina|         4|     DF|  ANSALDI Cristian|   20.09.1986|     ANSALDI|     Torino FC (ITA)|           181|  73|
|Argentina|         5|     MF|      BIGLIA Lucas|   30.01.1986|      BIGLIA|      AC Milan (ITA)|           175|  73|
|Argentina|         7|     MF|       BANEGA Ever|   29.06.1988|      BANEGA|    Sevilla FC (ESP)|           175|  73|
|Argentina|        14|     DF| MASCHERANO Javier|   08.06.1984|  MASCHERANO|Hebei China Fortu...|           174|  73|
|Argentina|        21|     FW|      DYBALA Paulo|   15.11.1993|      DYBALA|   Juventus FC (ITA)|           177|  73|
|Argentina|        19|     FW|     AGUERO Sergio|   02.06.1988|      AGÜERO|Manchester City F...|           172|  74|
|Argentina|         9|     FW|   HIGUAIN Gonzalo|   10.12.1987|     HIGUAÍN|   Juventus FC (ITA)|           184|  75|
|Argentina|        11|     MF|    DI MARIA Angel|   14.02.1988|    DI MARÍA|Paris Saint-Germa...|           178|  75|
|Argentina|        20|     MF|  LO CELSO Giovani|   09.04.1996|    LO CELSO|Paris Saint-Germa...|           177|  75|
|Argentina|        13|     MF|  MEZA Maximiliano|   15.12.1992|        MEZA|CA Independiente ...|           180|  76|
|Argentina|         8|     DF|      ACUNA Marcos|   28.10.1991|       ACUÑA|   Sporting CP (POR)|           172|  77|
|Argentina|        23|     GK|CABALLERO Wilfredo|   28.09.1981|   CABALLERO|    Chelsea FC (ENG)|           186|  80|
|Argentina|         2|     DF|   MERCADO Gabriel|   18.03.1987|     MERCADO|    Sevilla FC (ESP)|           181|  81|
|Argentina|        17|     DF|  OTAMENDI Nicolas|   12.02.1988|    OTAMENDI|Manchester City F...|           181|  81|
|Argentina|        16|     DF|       ROJO Marcos|   20.03.1990|        ROJO|Manchester United...|           189|  82|
+---------+----------+-------+------------------+-------------+------------+--------------------+--------------+----+
only showing top 20 rows

### Selecionando Dados, como se fosse consultas do SQL

In [8]:
# Selecionando colunas
# from pyspark.sql.functions import select
df_select = df.select( 
    col('TIME').alias('Pais')
    ,col('NOME_JOGADOR') 
    ,col('CLUBE')
)
df_select.show()

+---------+------------+--------------------+
|     Pais|NOME_JOGADOR|               CLUBE|
+---------+------------+--------------------+
|Argentina|  TAGLIAFICO|      AFC Ajax (NED)|
|Argentina|       PAVÓN|CA Boca Juniors (...|
|Argentina|     LANZINI|West Ham United F...|
|Argentina|      SALVIO|    SL Benfica (POR)|
|Argentina|       MESSI|  FC Barcelona (ESP)|
|Argentina|     ANSALDI|     Torino FC (ITA)|
|Argentina|      BIGLIA|      AC Milan (ITA)|
|Argentina|      BANEGA|    Sevilla FC (ESP)|
|Argentina|  MASCHERANO|Hebei China Fortu...|
|Argentina|      DYBALA|   Juventus FC (ITA)|
|Argentina|      AGÜERO|Manchester City F...|
|Argentina|     HIGUAÍN|   Juventus FC (ITA)|
|Argentina|    DI MARÍA|Paris Saint-Germa...|
|Argentina|    LO CELSO|Paris Saint-Germa...|
|Argentina|        MEZA|CA Independiente ...|
|Argentina|       ACUÑA|   Sporting CP (POR)|
|Argentina|   CABALLERO|    Chelsea FC (ENG)|
|Argentina|     MERCADO|    Sevilla FC (ESP)|
|Argentina|    OTAMENDI|Manchester City F...|
|Argentina|        ROJO|Manchester United...|
+---------+------------+--------------------+
only showing top 20 rows

### Filtrar DataFrame para mostrar os pontos onde não tenha argentina

In [20]:
# porque o comando abaixo não funciona ?
df_filtrado = df.filter( col('TIME') != "Argentina").show()

+---------+----------+-------+------------------+-------------+------------+--------------------+--------------+----+
|     TIME|ID_JOGADOR|POSICAO|         NOME_FIFA|DT_NASCIMENTO|NOME_JOGADOR|               CLUBE|ALTURA_JOGADOR|PESO|
+---------+----------+-------+------------------+-------------+------------+--------------------+--------------+----+
|Australia|        16|     DF|       BEHICH Aziz|   16.12.1990|      BEHICH|     Bursaspor (TUR)|           170|  63|
|Australia|        10|     FW|      KRUSE Robbie|   05.10.1988|       KRUSE|    VfL Bochum (GER)|           180|  66|
|Australia|        19|     DF|     RISDON Joshua|   27.07.1992|      RISDON|WS Wanderers FC (...|           169|  70|
|Australia|         3|     DF|    MEREDITH James|   05.04.1988|    MEREDITH|   Millwall FC (ENG)|           179|  71|
|Australia|        13|     MF|        MOOY Aaron|   15.09.1990|        MOOY|Huddersfield Town...|           173|  72|
|Australia|        14|     FW|    MacLAREN Jamie|   29.07.1993|    MACLAREN|  Hibernian FC (SCO)|           178|  72|
|Australia|        21|     FW|PETRATOS Dimitrios|   10.11.1992|    PETRATOS|Newcastle United ...|           176|  72|
|Australia|        17|     FW|     ARZANI Daniel|   04.01.1999|      ARZANI|Melbourne City FC...|           171|  73|
|Australia|         4|     FW|        CAHILL Tim|   06.12.1979|      CAHILL|   Millwall FC (ENG)|           180|  76|
|Australia|         8|     MF|    LUONGO Massimo|   25.09.1992|      LUONGO|Queens Park Range...|           176|  76|
|Australia|        20|     DF|   SAINSBURY Trent|   05.01.1992|   SAINSBURY|Grasshopper Club ...|           183|  76|
|Australia|        22|     MF|    IRVINE Jackson|   07.03.1993|      IRVINE|  Hull City FC (ENG)|           180|  77|
|Australia|         5|     DF|     MILLIGAN Mark|   04.08.1985|    MILLIGAN|    Al Ahli SC (KSA)|           178|  78|
|Australia|        15|     MF|      JEDINAK Mile|   03.08.1984|     JEDINAK|Aston Villa FC (ENG)|           188|  78|
|Australia|         9|     FW|        JURIC Tomi|   22.07.1991|       JURIC|     FC Luzern (SUI)|           190|  80|
|Australia|         1|     GK|       RYAN Mathew|   08.04.1992|        RYAN|Brighton & Hove A...|           184|  82|
|Australia|         6|     DF|    JURMAN Matthew|   08.12.1989|      JURMAN|Suwon Samsung Blu...|           190|  83|
|Australia|         7|     FW|     LECKIE Mathew|   04.02.1991|      LECKIE|    Hertha BSC (GER)|           181|  84|
|Australia|         2|     DF|     DEGENEK Milos|   28.04.1994|     DEGENEK|Yokohama F-Marino...|           187|  85|
|Australia|        11|     FW|    NABBOUT Andrew|   17.12.1992|     NABBOUT|    Urawa Reds (JPN)|           178|  85|
+---------+----------+-------+------------------+-------------+------------+--------------------+--------------+----+
only showing top 20 rows

### FILTRANDO DATAFRAME COM CONDIÇÕES AND e OR

In [31]:
display('DF CONDIÇÃO AND')
# FILTRANDO USANDO A CONDIÇÃO AND
df_filtrado_e = df.filter( 
    (col('TIME') == 'Brazil') 
    & (col('POSICAO') == 'DF')
    & (col('ALTURA_JOGADOR') >= '180')
).show()

display('DF CONDIÇÃO OR')
# FILTRANDO USANDO A CONDIÇÃO OR
df_filtrado_e = df.filter( 
    (col('TIME') == 'Brazil') 
    & (col('POSICAO') == 'DF')
    & ( (col('ALTURA_JOGADOR') == '186') | (col('ALTURA_JOGADOR') == '183'))
).show()

'DF CONDIÇÃO AND'

+------+----------+-------+-------------+-------------+------------+--------------------+--------------+----+
|  TIME|ID_JOGADOR|POSICAO|    NOME_FIFA|DT_NASCIMENTO|NOME_JOGADOR|               CLUBE|ALTURA_JOGADOR|PESO|
+------+----------+-------+-------------+-------------+------------+--------------------+--------------+----+
|Brazil|         6|     DF|  FILIPE LUIS|   09.08.1985| FILIPE LUIS|Atletico Madrid (...|           182|  73|
|Brazil|        13|     DF|   MARQUINHOS|   14.05.1994|  MARQUINHOS|Paris Saint-Germa...|           183|  75|
|Brazil|         3|     DF|      MIRANDA|   07.09.1984|     MIRANDA|FC Internazionale...|           186|  78|
|Brazil|        14|     DF|       DANILO|   15.07.1991|      DANILO|Manchester City F...|           184|  78|
|Brazil|         2|     DF| THIAGO SILVA|   22.09.1984|    T. SILVA|Paris Saint-Germa...|           183|  79|
|Brazil|         4|     DF|PEDRO GEROMEL|   21.09.1985|     GEROMEL|   Grêmio FBPA (BRA)|           190|  84|
+------+----------+-------+-------------+-------------+------------+--------------------+--------------+----+

'DF CONDIÇÃO OR'

+------+----------+-------+------------+-------------+------------+--------------------+--------------+----+
|  TIME|ID_JOGADOR|POSICAO|   NOME_FIFA|DT_NASCIMENTO|NOME_JOGADOR|               CLUBE|ALTURA_JOGADOR|PESO|
+------+----------+-------+------------+-------------+------------+--------------------+--------------+----+
|Brazil|        13|     DF|  MARQUINHOS|   14.05.1994|  MARQUINHOS|Paris Saint-Germa...|           183|  75|
|Brazil|         3|     DF|     MIRANDA|   07.09.1984|     MIRANDA|FC Internazionale...|           186|  78|
|Brazil|         2|     DF|THIAGO SILVA|   22.09.1984|    T. SILVA|Paris Saint-Germa...|           183|  79|
+------+----------+-------+------------+-------------+------------+--------------------+--------------+----+

In [59]:
from pyspark.sql.functions import *

# PEGA AS PRIMEIRAS TRÊS LETRAS DA SELEÇÃO
df_nova_coluna = df.withColumn('tres_primeiras_letras', substring(col('TIME'), 0, 3)).show()

+---------+----------+-------+------------------+-------------+------------+--------------------+--------------+----+---------------------+
|     TIME|ID_JOGADOR|POSICAO|         NOME_FIFA|DT_NASCIMENTO|NOME_JOGADOR|               CLUBE|ALTURA_JOGADOR|PESO|tres_primeiras_letras|
+---------+----------+-------+------------------+-------------+------------+--------------------+--------------+----+---------------------+
|Argentina|         3|     DF|TAGLIAFICO Nicolas|   31.08.1992|  TAGLIAFICO|      AFC Ajax (NED)|           169|  65|                  Arg|
|Argentina|        22|     MF|    PAVON Cristian|   21.01.1996|       PAVÓN|CA Boca Juniors (...|           169|  65|                  Arg|
|Argentina|        15|     MF|    LANZINI Manuel|   15.02.1993|     LANZINI|West Ham United F...|           167|  66|                  Arg|
|Argentina|        18|     DF|    SALVIO Eduardo|   13.07.1990|      SALVIO|    SL Benfica (POR)|           167|  69|                  Arg|
|Argentina|        10|     FW|      MESSI Lionel|   24.06.1987|       MESSI|  FC Barcelona (ESP)|           170|  72|                  Arg|
|Argentina|         4|     DF|  ANSALDI Cristian|   20.09.1986|     ANSALDI|     Torino FC (ITA)|           181|  73|                  Arg|
|Argentina|         5|     MF|      BIGLIA Lucas|   30.01.1986|      BIGLIA|      AC Milan (ITA)|           175|  73|                  Arg|
|Argentina|         7|     MF|       BANEGA Ever|   29.06.1988|      BANEGA|    Sevilla FC (ESP)|           175|  73|                  Arg|
|Argentina|        14|     DF| MASCHERANO Javier|   08.06.1984|  MASCHERANO|Hebei China Fortu...|           174|  73|                  Arg|
|Argentina|        21|     FW|      DYBALA Paulo|   15.11.1993|      DYBALA|   Juventus FC (ITA)|           177|  73|                  Arg|
|Argentina|        19|     FW|     AGUERO Sergio|   02.06.1988|      AGÜERO|Manchester City F...|           172|  74|                  Arg|
|Argentina|         9|     FW|   HIGUAIN Gonzalo|   10.12.1987|     HIGUAÍN|   Juventus FC (ITA)|           184|  75|                  Arg|
|Argentina|        11|     MF|    DI MARIA Angel|   14.02.1988|    DI MARÍA|Paris Saint-Germa...|           178|  75|                  Arg|
|Argentina|        20|     MF|  LO CELSO Giovani|   09.04.1996|    LO CELSO|Paris Saint-Germa...|           177|  75|                  Arg|
|Argentina|        13|     MF|  MEZA Maximiliano|   15.12.1992|        MEZA|CA Independiente ...|           180|  76|                  Arg|
|Argentina|         8|     DF|      ACUNA Marcos|   28.10.1991|       ACUÑA|   Sporting CP (POR)|           172|  77|                  Arg|
|Argentina|        23|     GK|CABALLERO Wilfredo|   28.09.1981|   CABALLERO|    Chelsea FC (ENG)|           186|  80|                  Arg|
|Argentina|         2|     DF|   MERCADO Gabriel|   18.03.1987|     MERCADO|    Sevilla FC (ESP)|           181|  81|                  Arg|
|Argentina|        17|     DF|  OTAMENDI Nicolas|   12.02.1988|    OTAMENDI|Manchester City F...|           181|  81|                  Arg|
|Argentina|        16|     DF|       ROJO Marcos|   20.03.1990|        ROJO|Manchester United...|           189|  82|                  Arg|
+---------+----------+-------+------------------+-------------+------------+--------------------+--------------+----+---------------------+
only showing top 20 rows

In [60]:
# PEGA O ANO DE NASCIMENTO PARTINDO DAS 4 ULTIMAS LETRAS
df_nova_coluna2 = df.withColumn('ANO', substring('DT_NASCIMENTO', -4, 4)).show()

+---------+----------+-------+------------------+-------------+------------+--------------------+--------------+----+----+
|     TIME|ID_JOGADOR|POSICAO|         NOME_FIFA|DT_NASCIMENTO|NOME_JOGADOR|               CLUBE|ALTURA_JOGADOR|PESO| ANO|
+---------+----------+-------+------------------+-------------+------------+--------------------+--------------+----+----+
|Argentina|         3|     DF|TAGLIAFICO Nicolas|   31.08.1992|  TAGLIAFICO|      AFC Ajax (NED)|           169|  65|1992|
|Argentina|        22|     MF|    PAVON Cristian|   21.01.1996|       PAVÓN|CA Boca Juniors (...|           169|  65|1996|
|Argentina|        15|     MF|    LANZINI Manuel|   15.02.1993|     LANZINI|West Ham United F...|           167|  66|1993|
|Argentina|        18|     DF|    SALVIO Eduardo|   13.07.1990|      SALVIO|    SL Benfica (POR)|           167|  69|1990|
|Argentina|        10|     FW|      MESSI Lionel|   24.06.1987|       MESSI|  FC Barcelona (ESP)|           170|  72|1987|
|Argentina|         4|     DF|  ANSALDI Cristian|   20.09.1986|     ANSALDI|     Torino FC (ITA)|           181|  73|1986|
|Argentina|         5|     MF|      BIGLIA Lucas|   30.01.1986|      BIGLIA|      AC Milan (ITA)|           175|  73|1986|
|Argentina|         7|     MF|       BANEGA Ever|   29.06.1988|      BANEGA|    Sevilla FC (ESP)|           175|  73|1988|
|Argentina|        14|     DF| MASCHERANO Javier|   08.06.1984|  MASCHERANO|Hebei China Fortu...|           174|  73|1984|
|Argentina|        21|     FW|      DYBALA Paulo|   15.11.1993|      DYBALA|   Juventus FC (ITA)|           177|  73|1993|
|Argentina|        19|     FW|     AGUERO Sergio|   02.06.1988|      AGÜERO|Manchester City F...|           172|  74|1988|
|Argentina|         9|     FW|   HIGUAIN Gonzalo|   10.12.1987|     HIGUAÍN|   Juventus FC (ITA)|           184|  75|1987|
|Argentina|        11|     MF|    DI MARIA Angel|   14.02.1988|    DI MARÍA|Paris Saint-Germa...|           178|  75|1988|
|Argentina|        20|     MF|  LO CELSO Giovani|   09.04.1996|    LO CELSO|Paris Saint-Germa...|           177|  75|1996|
|Argentina|        13|     MF|  MEZA Maximiliano|   15.12.1992|        MEZA|CA Independiente ...|           180|  76|1992|
|Argentina|         8|     DF|      ACUNA Marcos|   28.10.1991|       ACUÑA|   Sporting CP (POR)|           172|  77|1991|
|Argentina|        23|     GK|CABALLERO Wilfredo|   28.09.1981|   CABALLERO|    Chelsea FC (ENG)|           186|  80|1981|
|Argentina|         2|     DF|   MERCADO Gabriel|   18.03.1987|     MERCADO|    Sevilla FC (ESP)|           181|  81|1987|
|Argentina|        17|     DF|  OTAMENDI Nicolas|   12.02.1988|    OTAMENDI|Manchester City F...|           181|  81|1988|
|Argentina|        16|     DF|       ROJO Marcos|   20.03.1990|        ROJO|Manchester United...|           189|  82|1990|
+---------+----------+-------+------------------+-------------+------------+--------------------+--------------+----+----+
only showing top 20 rows

### Conversão de tipos de variaveis.

In [80]:
schema = df.schema
tipos_dados_colunas = {col.name: col.dataType for col in schema}

# Imprimir os tipos de colunas
for nome_coluna, tipo_coluna in tipos_dados_colunas.items():
    print(f"'{nome_coluna}': {tipo_coluna},")

'TIME': StringType(),
'ID_JOGADOR': IntegerType(),
'POSICAO': StringType(),
'NOME_FIFA': StringType(),
'DT_NASCIMENTO': StringType(),
'NOME_JOGADOR': StringType(),
'CLUBE': StringType(),
'ALTURA_JOGADOR': IntegerType(),
'PESO': IntegerType(),

In [83]:
# Primeira Forma: Copio e colo as variáveis e seus respectivos jeitos para automatizar
# e visualizar todas que precisarei trocar os tipos
from pyspark.sql.types import * 

colt = {
'TIME': StringType(),
'ID_JOGADOR': StringType(),
'POSICAO': StringType(),
'NOME_FIFA': StringType(),
'DT_NASCIMENTO': StringType(),
'NOME_JOGADOR': StringType(),
'CLUBE': StringType(),
'ALTURA_JOGADOR': IntegerType(),
'PESO': IntegerType(),
}

# Aplicar a conversão de tipos
for chave, valor in colt.items():
    df = df.withColumn(chave, col(chave).cast(valor))



# SEGUNDA FORMA: Troco os tipos manualmente
df = df.withColumn('ALTURA_JOGADOR', col('ALTURA_JOGADOR').cast(StringType()))
df = df.withColumn('PESO', col('PESO').cast(StringType()))
df.printSchema()

root
 |-- TIME: string (nullable = true)
 |-- ID_JOGADOR: string (nullable = true)
 |-- POSICAO: string (nullable = true)
 |-- NOME_FIFA: string (nullable = true)
 |-- DT_NASCIMENTO: string (nullable = true)
 |-- NOME_JOGADOR: string (nullable = true)
 |-- CLUBE: string (nullable = true)
 |-- ALTURA_JOGADOR: string (nullable = true)
 |-- PESO: string (nullable = true)