In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

spark = SparkSession.builder \
    .master('local') \
    .appName('Teste_spark') \
    .getOrCreate()
display('sucesso')

'sucesso'

In [33]:
#Creating DataFrame on a CSV file
from pyspark.sql.functions import when, col

df = spark.read.load('D:/donwloads/brasileirao.csv', header=True, format='csv', sep=',', inferSchema=True)
df.show()
display('sucesso')


                                                                        
df2 = df.withColumn(
    'novoluna',
     when( (col('points') < 100), 'sim' )
    .otherwise('nao')
)

df2.show()

+------+-----+-------+-------------+------+------+---+----+----+---------+-------------+----------+
|season|place|acronym|         team|points|played|won|draw|loss|goals_for|goals_against|goals_diff|
+------+-----+-------+-------------+------+------+---+----+----+---------+-------------+----------+
|  2003|    1|    CRU|     Cruzeiro|   100|    46| 31|   7|   8|      102|           47|        55|
|  2003|    2|    SAN|       Santos|    87|    46| 25|  12|   9|       93|           60|        33|
|  2003|    3|    SAO|     SaoPaulo|    78|    46| 22|  12|  12|       81|           67|        14|
|  2003|    4|    SCA|   SaoCaetano|    74|    46| 19|  14|  13|       53|           37|        16|
|  2003|    5|    CFC|     Coritiba|    73|    46| 21|  10|  15|       67|           58|         9|
|  2003|    6|    CAM|  Atletico-MG|    72|    46| 19|  15|  12|       76|           62|        14|
|  2003|    7|    INT|Internacional|    72|    46| 20|  10|  16|       59|           57|         2|
|  2003|    8|    FLA|     Flamengo|    66|    46| 18|  12|  16|       66|           73|        -7|
|  2003|    9|    GOI|        Goias|    65|    46| 18|  11|  17|       78|           63|        15|
|  2003|   10|    PAR|       Parana|    65|    46| 18|  11|  17|       85|           75|        10|
|  2003|   11|    FIG|  Figueirense|    65|    46| 17|  14|  15|       62|           54|         8|
|  2003|   12|    CAP| Athletico-PR|    61|    46| 17|  10|  19|       67|           72|        -5|
|  2003|   13|    GUA|      Guarani|    61|    46| 17|  10|  19|       64|           72|        -8|
|  2003|   14|    CRI|     Criciuma|    60|    46| 17|   9|  20|       57|           69|       -12|
|  2003|   15|    COR|  Corinthians|    59|    46| 15|  12|  19|       61|           63|        -2|
|  2003|   16|    VIT|      Vitoria|    56|    46| 15|  11|  20|       50|           64|       -14|
|  2003|   17|    VAS|        Vasco|    54|    46| 13|  15|  18|       57|           69|       -12|
|  2003|   18|    JUV|    Juventude|    53|    46| 12|  14|  20|       55|           70|       -15|
|  2003|   19|    FLU|   Fluminense|    52|    46| 13|  11|  22|       52|           77|       -25|
|  2003|   20|    PON|   PontePreta|    50|    46| 11|  18|  17|       63|           73|       -10|
+------+-----+-------+-------------+------+------+---+----+----+---------+-------------+----------+
only showing top 20 rows

'sucesso'

+------+-----+-------+-------------+------+------+---+----+----+---------+-------------+----------+--------+
|season|place|acronym|         team|points|played|won|draw|loss|goals_for|goals_against|goals_diff|novoluna|
+------+-----+-------+-------------+------+------+---+----+----+---------+-------------+----------+--------+
|  2003|    1|    CRU|     Cruzeiro|   100|    46| 31|   7|   8|      102|           47|        55|     nao|
|  2003|    2|    SAN|       Santos|    87|    46| 25|  12|   9|       93|           60|        33|     sim|
|  2003|    3|    SAO|     SaoPaulo|    78|    46| 22|  12|  12|       81|           67|        14|     sim|
|  2003|    4|    SCA|   SaoCaetano|    74|    46| 19|  14|  13|       53|           37|        16|     sim|
|  2003|    5|    CFC|     Coritiba|    73|    46| 21|  10|  15|       67|           58|         9|     sim|
|  2003|    6|    CAM|  Atletico-MG|    72|    46| 19|  15|  12|       76|           62|        14|     sim|
|  2003|    7|    INT|Internacional|    72|    46| 20|  10|  16|       59|           57|         2|     sim|
|  2003|    8|    FLA|     Flamengo|    66|    46| 18|  12|  16|       66|           73|        -7|     sim|
|  2003|    9|    GOI|        Goias|    65|    46| 18|  11|  17|       78|           63|        15|     sim|
|  2003|   10|    PAR|       Parana|    65|    46| 18|  11|  17|       85|           75|        10|     sim|
|  2003|   11|    FIG|  Figueirense|    65|    46| 17|  14|  15|       62|           54|         8|     sim|
|  2003|   12|    CAP| Athletico-PR|    61|    46| 17|  10|  19|       67|           72|        -5|     sim|
|  2003|   13|    GUA|      Guarani|    61|    46| 17|  10|  19|       64|           72|        -8|     sim|
|  2003|   14|    CRI|     Criciuma|    60|    46| 17|   9|  20|       57|           69|       -12|     sim|
|  2003|   15|    COR|  Corinthians|    59|    46| 15|  12|  19|       61|           63|        -2|     sim|
|  2003|   16|    VIT|      Vitoria|    56|    46| 15|  11|  20|       50|           64|       -14|     sim|
|  2003|   17|    VAS|        Vasco|    54|    46| 13|  15|  18|       57|           69|       -12|     sim|
|  2003|   18|    JUV|    Juventude|    53|    46| 12|  14|  20|       55|           70|       -15|     sim|
|  2003|   19|    FLU|   Fluminense|    52|    46| 13|  11|  22|       52|           77|       -25|     sim|
|  2003|   20|    PON|   PontePreta|    50|    46| 11|  18|  17|       63|           73|       -10|     sim|
+------+-----+-------+-------------+------+------+---+----+----+---------+-------------+----------+--------+
only showing top 20 rows